################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/TestApplication/obj/Debug
/TestApplication/bin/Debug
/packages
/TestRewriter/obj/Debug
/TestRewriter/bin/Debug
/TestRewriter/bin/Release/TestRewriter.vshost.exe.manifest
/TestRewriter/bin/Release/TestRewriter.vshost.exe
/TestRewriter/obj/Release
/TestApplication/bin/Release
/TestRewriter/bin/Release
/TestApplication/obj/Release
/ExtensibleILRewriter/bin
/ExtensibleILRewriter/obj
/ExtensibleILRewriter.sln.ide
/ExtensibleILRewriter.MsBuild/bin
/ExtensibleILRewriter.MsBuild/obj
/ExtensibleILRewriter.Tests/bin/Debug
/ExtensibleILRewriter.Tests/obj/Debug
